{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Contacto</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% block content %}
    
    <section class="contact magicpattern">
        <div id="target-section" class="container mb-3 mb-lg-5 mt-5">
            <form id="form-contact" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>Contacto</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam doloribus autem!
                        </p>
                    </div>
                    <div class="container mt-5">
                        <div class="form-container">
                            <div class="mb-3">
                                {{ form.as_p }}
                            </div>
                        </div>            
                    </div>
                    <div class="msg-valid-nom"></div>
                    <div class="msg-valid-em"></div>
                    <div class="msg-valid-cel"></div>
                    <div class="msg-valid-msg"></div>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}
    <script src="{% static 'myapp/js/scripts.js' %}"></script>
</body>
</html>