{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Contacto</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% block content %}
    <h1>Crear Contacto</h1>
    <form id="form-contact" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="msg-valid-nom"></div>
        <div class="msg-valid-em"></div>
        <div class="msg-valid-cel"></div>
        <div class="msg-valid-msg"></div>
        <button type="submit">Enviar</button>
    </form>
    {% endblock %}
    <script src="{% static 'task/js/scripts.js' %}"></script>
</body>
</html>