{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Iniciar Sesión</h2>
    
    <!-- Mostrar mensajes de error y éxito -->

    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="username">Correo Electrónico:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger">
                    {{ form.username.errors }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="password">Contraseña:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="text-danger">
                    {{ form.password.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}
