{% extends 'base.html' %}

{% block content %}
<body class="body-background">
    <div class="content p-4" style="margin-bottom: 290px;">
        <div class="container signup-container p-4 mt-5 mb-5" style="margin-bottom: 100px;">
            <div class="container">
                <h2>Iniciar Sesión</h2>
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        <label for="username">Correo Electrónico:</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="text-danger">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password">Contraseña:</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="text-danger">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
