@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital@1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital@1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital@1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    
}

html, body {
    overflow-x: hidden;
   
}

input:focus, textarea:focus {
    caret-color: rgb(121, 24, 59);
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

input:focus, textarea:focus {
    caret-color: auto; 
}

.container-table{
    min-height: 200px !important;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #a22762 !important;
}


.btn-bg-color {
    border-color: #000000 !important;
    background-color: #ea65a3 !important;
}

.form-control:focus, .color-btn:focus {
    border-color: #ae5880  !important; 
    box-shadow: 0 0 0 0.25rem rgba(255, 129, 181, 0.25) !important;
}

body {
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    z-index: 1;
}


nav{
    font-family: "Roboto Slab", serif !important; 
}

main{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

section{
    transform-style: preserve-3d;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ESTILO PARA LAS TARJETAS SOBRE RESTRICCIONES ALIMENTICIAS O DIETAS ESPECIFICAS*/

.bg-car1{
    
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        
    ), url('../images/image-card1.jpg');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}

.bg-car2{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        
    ), url('../images/image-card2.jpg');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 0;
    border: 10px solid #2c3e50;
}

.bg-car3{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        
    ), url('../images/image-card3.jpg');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card {
    margin: 0;
    padding: 0;
}

.card-color{
    background-color: #d96b9e !important;
}

.card-text{
    color: white !important;
    font-size: larger !important;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:   #ca8ea7;
    text-align: center;
    border-radius: 0;
}

.custom-card {
    border-radius: 0 !important;
}

.box-icons i {
    font-size: 40px;
}

.box-icons h3 {
    font-size: 20px;
}

.product{
    padding: 80px 0;
}



.banner{
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: rgb(244, 244, 222);
}

.banner h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}

.banner img{
    width: 300px;
}

.empty-space {
    height: 30vh;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

.go-top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    height: 6.6;
    z-index: -1;
}

/* ESTILO PARA GOOGLE MAPS */

.cont-location{
    background:#f7c7de;
    border-radius: 5px;
}

iframe{
    border-radius: 10px;    
}

.content-more-about{
    border-radius: 5px;
}

#span-more-about{
    color: #a22762;
}

ul{
    list-style: none ;
}
.list-more-about{
    padding: 20px;
}

i{
    color: rgb(216, 101, 153);
    
}

.whatsapp-icon {
    font-size: 1rem; 
    vertical-align: middle;
}

.title-location{
    color: #a22762;
}

.separator {
    background-color: rgb(255, 200, 225);; 
    padding: 90px 0;
    position: relative;
    text-align: right;
    height: 200px;
}

.image-container img:hover {
    cursor: crosshair;
    opacity: 1;
    filter: contrast(120%);
}

.custom-select {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    width: 150px; 
    box-sizing: border-box;
}

.icons-section{
    color: rgb(255, 255, 255);
}


.custom-container {
    background-color: #ffd4e2; 
    border: 1px solid #ccc ;
    border-style: groove !important;   
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center !important;
    padding-bottom: 5px;
    padding-top: 5px;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem; 
    color: #c90564; 
    z-index: 99; 
    cursor: pointer; 
    transition: opacity 0.3s ease;

}

.back-to-top:hover {
   color: #a22762;
}


.section-color{
    background: #d4a0b3;
}

.container-m {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

.signup-container{
    border-radius: 4px;
    background-color: white;
    margin-bottom: 100px;
    border-color: #000000;
    border: 5px !important;
    max-width: 50vh!important;
    margin-bottom: 20px !important;
}
  
.body-background {
    position: relative;
    overflow: hidden;
}

.body-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
    z-index: -1; 
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}




.box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
    filter: brightness(70%);
}

.box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover > img {
    width: 100%;
    height: 100%;
    filter: brightness(90%);
}

.map-container {
    position: relative;
    height: 400px;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.spikes {
    position: relative;
    background: #d4a0b3;
    height: 20vh;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg,  #d4a0b3 25%, transparent 25%), linear-gradient(225deg, #d4a0b3 25%, transparent 25%);
    background-position: 0 0;
}
@media only screen and (max-width:575px){
    .cont-location{
        background-color: #f7c7de;
        border-radius: 0;
        border: 0;
    }
    
}